.what-we-support-main-color {
    background: #eaeced;
    padding: 50px 0px;
}

.what-we-support-title {
    color: #000;
    font-family: Teachers;
    font-size: var(--font-24-px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.what-we-support-description {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.60);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: var(--font-16-px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* text-align: justify; */
}

@media all and (max-width: 990px) {
    .sl-home-what-we-support-flex {
        flex-wrap: wrap;
        gap: 20px
    }

    .what-we-support-flex {
        width: calc(50% - 20px);
    }
}

@media all and (max-width: 600px) {
    .sl-home-what-we-support-flex {
        flex-wrap: wrap;
        gap: 20px
    }

    .what-we-support-flex {
        width: unset;
    }
}