@import url(./buttons.css);
@import url(./scrollbar.css);
@import url(./theme.css);
@import url(./flex.css);
@import url(./height.css);

.not-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}