:root {
    --primary-color: #FD7E14;
    --secondary-color: white;
    --text-color: rgba(0, 0, 0, 0.60);
    --heading-color: black;
    --black-color: black;
    --white-color: white;
    --body-bg-color: #F8F9FA;
    /* font sizes */
    --font-64-px: 64px;
    --font-50-px: 50px;
    --font-36-px: 36px;
    --font-24-px: 24px;
    --font-20-px: 20px;
    --font-19-px: 19px;
    --font-18-px: 18px;
    --font-16-px: 16px;
    --font-15-px: 15px;
    --font-13-px: 13px;

    /* --max-width-container:1800px; */
}

@media screen and (min-width: 0px) and (max-width: 550px) {
    :root {
        --font-64-px: 30px;
        --font-50-px: 34px;
        --font-36-px: 22px;
        --font-24-px: 20px;
        --font-20-px: 18px;
        --font-19-px: 17px;
        --font-18-px: 16px;
        --font-16-px: 16px;
        --font-15-px: 15px;
        --font-13-px: 13px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    :root {
        --font-64-px: 35px;
        --font-50-px: 35px;
        --font-36-px: 24px;
        --font-24-px: 22px;
        --font-20-px: 20px;
        --font-19-px: 19px;
        --font-18-px: 18px;
        --font-16-px: 16px;
        --font-15-px: 15px;
        --font-13-px: 13px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    :root {
        --font-64-px: 44px;
        --font-50-px: 40px;
        --font-36-px: 24px;
        --font-24-px: 24px;
        --font-20-px: 22px;
        --font-19-px: 18px;
        --font-18-px: 18px;
        --font-16-px: 16px;
        --font-15-px: 15px;
        --font-13-px: 13px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    :root {
        --font-64-px: 64px;
        --font-50-px: 50px;
        --font-36-px: 36px;
        --font-24-px: 24px;
        --font-20-px: 20px;
        --font-19-px: 19px;
        --font-18-px: 18px;
        --font-16-px: 16px;
        --font-15-px: 15px;
        --font-13-px: 13px;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --font-64-px: 64px;
        --font-50-px: 50px;
        --font-36-px: 36px;
        --font-24-px: 24px;
        --font-20-px: 20px;
        --font-19-px: 19px;
        --font-18-px: 18px;
        --font-16-px: 16px;
        --font-15-px: 15px;
        --font-13-px: 13px;
    }
}