.sl-home-landing-image-container {
    height: calc(100vh - 72px);
    width: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 79.2%), url("./landing.jpg") lightgray 50% / cover no-repeat;
}


.landing-main-text {
    color: #FFF;
    font-family: Teachers;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.landing-sub-text {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: calc(500px);
    /* 150% */
}

.landing-summary span:first-child {
    color: #FD7E14;
    font-family: Teachers;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* Style for the second span (text) */
.landing-summary span:last-child {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

@media all and (max-width: 1400px) {
    .landing-main-text {
        font-size: 70px;
        line-height: 74px;
    }
}

@media all and (max-width: 1130px) {
    .sl-home-landing-image-container {
        height: calc(100vh - 72px);
        width: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 0%), url("./landing.jpg") lightgray 50% / cover no-repeat;
    }
}

@media all and (max-width: 780px) {
    .landing-summary-flex {
        flex-direction: column;
        gap: 15px;
    }

    .landing-sub-text {
        color: rgba(255, 255, 255, 0.60);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 70vw;
        /* 150% */
    }

    .landing-main-text {
        font-size: 60px;
        line-height: 62px;
    }

    .landing-logo-section {
        display: none;
    }

    .landing-flex-item-2 {
        display: none;
    }

    /* .landing-single-summary-flex {
        flex-direction: column;
    } */
}

@media all and (max-width: 500px) {
    .landing-sub-text {
        width: 90vw;
    }
}